extends ../layout.pug
block content
    h1 #{title}
        div.container
            h4 Common Questions About Our Radar
            ul(data-collapsible="accordion").collapsible.popout
                li
                    div.collapsible-header
                        p.question What is a 'Technology Radar'?
                    div.collapsible-body
                        p.
                            A technology radar is a way of talking about the process of
                            exploring and adopting technologies and practices in the
                            realm of information technology.
                        p.
                            The idea has been around in a few different incarnations for many years.
                            The particular idea that we are following is patterned after
                            what #[a(href="https://www.thoughtworks.com/insights/blog/build-your-own-technology-radar" target="_blank") ThoughtWorks recommends for a radar with an enterprise].
                        p.
                            Obviously, this is a great marketing tool for ThoughtWorks and it
                            is in their interest to promote their brand awareness. That said,
                            we believe there is value in a feedback loop between the people that use
                            technology and the people that choose technology at your company.
                li
                    div.collapsible-header
                        p.question Who or what is 'ThoughtWorks' and what does it have to do with my company?
                    div.collapsible-body
                        p.
                            #[a(href="https://www.thoughtworks.com/" target="_blank") ThoughtWorks] is a technology consultancy providing professional
                            services on the open market. They started publishing their own
                            #[a(href="https://www.thoughtworks.com/radar" target="_blank") radar] publicly back in 2010. We are following their suggestions
                            about how to establish a technology radar within an enterprise.
                        p.
                            Other than that, ThoughtWorks has nothing to do with your company. This
                            initiative is entirely internal and grassroots in nature.
                li
                    div.collapsible-header
                        p.question Is this how to make technology decisions now?
                    div.collapsible-body
                        p.
                            No. In fact, there is should be no formal connection between the technology radar
                            and anything that your company does in terms of technology decision making.
                        p.
                            That said, we expect that the obvious potential value of the feedback
                            loop that the radar creates will be of interest to progressive
                            minds in the IT leadership group.
                li
                    div.collapsible-header
                        p.question I disagree with something published to the radar. What should I do?
                    div.collapsible-body
                        p.
                            It is quite possible that opinions published
                            in the radar will differ from other held opinions within your company.
                            This is fully expected and completely acceptable.
                        p.
                            You should have a direct conversation with the individual that
                            proposed and published the blip of concern. One aim of the radar
                            is to stimulate productive conversations - particularly those
                            that may not otherwise have happened. Odds are good that we
                            each have something to learn from one another.
                        p.
                            Lastly, remember that the radar is an open process. You could choose
                            to re-blip an item with your own future proposal. You could
                            also attend a radar publication meeting and express your
                            concerns formally. There is a specific provision in the process
                            (gradients of support) whereby a support of '1' is expected to be
                            accompanied by formal statements of concern or objection for
                            the published record.
                li
                    div.collapsible-header
                        p.question Are we sure we're doing this right?
                    div.collapsible-body
                        p.
                            Our approach has been to stay as true as possible to the advice that ThoughtWorks
                            has published on the matter of doing this within an enterprise.
                        p.
                            The main structural difference we have found between what ThoughtWorks
                            says about their own process and what we are doing lays in the
                            potential size of the contributor group. Whereas ThoughtWorks knows
                            who and how many are attending their dedicated meetings,
                            we have aimed to keep the invitation open to whomever is interested.
                            This meant that we needed to ask for expressions of interest and
                            'intent to blip' before we could even organize and schedule our
                            meetings. We're sure that this affects the what ThoughtWorks describes
                            as their brainstorming process. Instead, we have a much more focused
                            agenda on a list of known proposals. But we think the spirit
                            and intent is intact.
                        p.
                            As this is an open process, it is sure to evolve with the
                            inputs of those who wish to contribute to the effort.
