extends ../layout.pug
block content
    h1 #{title}
    div.collection
        each person in results
            - var to_person = '/radar/contributors/' + person.name;
            a(href=to_person).collection-item 
               div.mug( style='background-image: url( ' +person.imgUrl + ')' ) 
               | #{person.displayName || person.name} - #{person.title}
